@import "../../variables.scss";

.home {
  &__main_button_cell {
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
    }
  }
  &__main_button {
    height: 12em;
    padding: 0 7em;
    border-radius: 10px;

    &--active.mdc-button {
      background-color: $mdc-theme-primary;
      color: #fff;
    }

    i {
      display: block;
      font-size: 4em;
      margin-bottom: 15px;
    }
  }
}
