$app-body-width: 1250px;

$mdc-theme-primary: #fe4641;
$mdc-theme-secondary: #8d8d8f;
$mdc-theme-background: #f8f4f4;

$app-header-background: #fff;
$app-footer-background: #444444;
$app-shadow: #eee;

$primary-color: $mdc-theme-primary;
$secondary-color: $mdc-theme-secondary;
